<form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()" class="user-form">

  <div class="form-group">
    <label>Warehouse ID </label>
    <input type="number" formControlName="warehouseId" />
  </div>

  <div class="form-group">
    <label>Supplier ID </label>
    <input type="number" formControlName="supplierId" />
  </div>

  <div class="form-group">
    <label>Warehouse Name </label>
    <input type="text" formControlName="warehouseName" />
  </div>

  <div class="form-group">
    <label>Location </label>
    <input type="text" formControlName="location" />
  </div>

  <div class="form-group">
    <label>Capacity </label>
    <input type="number" formControlName="capacity" />
  </div>

  <button type="submit" [disabled]="warehouseForm.invalid">Submit</button>
</form>